 {% extends 'store/main.html' %}
{% load static %}
{% block content %}


    <div class="container">

        <div class="login--wrapper">
            {% if user.is_authenticated %}
            <p class="text-white">logged in: {{ user }}</p>
                <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-secondary">Log out</a>

            {% else %}
            <form method='post' class="form">
                {% csrf_token %}
                <h1>Login</h1>
                <h4>Login to purchase your goods now!</h4>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                        aria-describedby="emailHelp" autocomplete="off">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="exampleInputPassword1" autocomplete="off">
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <p>Don't have an account <a href="{% url 'register' %}">Register</a></p>
            </form>
                        {% endif %}

    </div>

 {% endblock content %}
